.slideshow {
  width: 100%;
  height: 100vh;
  display: grid;
  overflow: hidden;
}

.slide {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: grid;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.active {
  opacity: 1;
}

.slide > * {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.slide div {
  color: white;
  font-size: clamp(28px, 4vw, 56px);
  font-weight: 100;
  align-self: center;
  padding-left: 100px;
}

.slide .text {
  margin: 30px 0 15px 0;
}

.slide p:last-child {
  font-size: 0.5em;
  text-transform: uppercase;
}

.slide p:last-child span {
  font-weight: 400;
}

.slide:first-child {
  z-index: 1;
}

.slideNav {
  z-index: 100;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid white;
  display: flex;
  padding-bottom: 10px;
}

.slideNav span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  margin: 0 30px;
  border: 1px solid white;
}

.slideNav span:hover {
  cursor: pointer;
}
