.navigation {
  gap: 4vw;
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 18px;
  margin-left: auto;
  margin-right: 7vw;
}

.navigation a:hover {
  color: lightgray;
}

.dropdown {
  position: relative;
}

.dropdown label {
  position: relative;
}

.dropdown label:hover {
  cursor: pointer;
}

.dropdown span {
  position: absolute;
  display: inline-block;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  transition: transform 0.2s ease-in-out;
}

.dropdown input:checked + label span {
  transform: translateX(-50%) rotate(-90deg);
}

.dropdown ul {
  display: none;
  list-style-type: none;
  position: absolute;
  top: 200%;
}

.dropdown a {
  line-height: 1.7em;
}

.dropdown input:checked ~ ul {
  display: block;
}

.navigationToggle {
  display: none;
  visibility: hidden;
}

.navigationToggle + label {
  width: 10px;
  height: 10px;
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 1100px) {
  .navigation {
    gap: 2vw;
    margin-right: 4vw;
  }
}

@media only screen and (max-width: 900px) {
  .navigationToggle {
    visibility: visible;
  }

  .navigationToggle + label {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    visibility: visible;
    margin-left: auto;
    margin-right: max(20px, 4vw);
    z-index: 1000;
  }

  .navigationToggle + label span {
    width: 100%;
    height: 1px;
    background-color: white;
    transition: all 0.2s ease-in-out;
  }

  .navigationToggle:checked + label span:first-child {
    transform: translateY(10px) rotate(45deg);
  }

  .navigationToggle:checked + label span:nth-child(2) {
    width: 0;
  }

  .navigationToggle:checked + label span:last-child {
    transform: translateY(-10px) rotate(-45deg);
  }

  .navigationToggle:checked ~ .navigation {
    display: flex;
  }

  .navigation {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 90px 0 50px 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: scroll;
    gap: 30px;
  }

  .dropdown span {
    top: 50%;
    left: auto;
    right: -30%;
    transform: translateY(-50%) rotate(90deg);
  }

  .dropdown input:checked + label span {
    transform: translateY(-50%) rotate(-90deg);
  }

  .dropdown ul {
    position: initial;
    display: block;
    max-height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height 0.2s ease-in-out;
  }

  .dropdown li {
    margin-top: 10px;
  }

  .dropdown input:checked ~ ul {
    max-height: 300px;
  }
}
