.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 30px 0 30px;
  z-index: 1000;
  font-weight: 100;
  background-image: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 95%);
}

.logo {
  z-index: 1000;
}

@media only screen and (max-width: 576px) {
  .header {
    padding: 15px 15px 0 15px;
  }
}
