.socials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px;
  transform: rotate(45deg);
}

.socials a {
  display: block;
  width: 12px;
  height: 12px;
}

.socials svg {
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  transition: transform 0.2s ease-in-out;
}

.socials svg:hover {
  cursor: pointer;
  transform: rotate(-45deg) scale(1.3);
}

.socials .facebook:hover {
  fill: #4267b2;
}

.socials .youtube:hover {
  fill: #ff0000;
}

.socials .twitter:hover {
  fill: #1da1f2;
}

.socials .instagram:hover {
  fill: #e1306c;
}
